Repository agh-cs-imbeciles/heralds-of-war, pull requests merged in 2025-05, with the labels that each got.

#24 Refactor: Save terrain tileset as external resource
  assets/resources/terrain_tileset.tres
  scenes/matches/match_1.tscn
Labels: board, refactoring

#25 Feat: Add weights to individual tiles
  assets/resources/board_cost.json
  src/board/board.gd
  src/units/unit.gd
Labels: enhancement, board

#28 Feat: Bound camera to board
  src/ui/camera.gd
Labels: enhancement, user interface

#26 Feat: Add camera zoom
  src/ui/camera.gd
Labels: enhancement, user interface

#29 Refactor: Extract UI and input components from board
  scenes/matches/match_1.tscn
  src/board/board.gd
  src/board/board_input_manager.gd
  src/board/board_input_manager.gd.uid
  src/ui/board/board_ui.gd
  src/ui/board/board_ui.gd.uid
  src/ui/camera.gd
Labels: board, refactoring, user interface

#30 Fix: Hover board cells properly
  src/board/board_input_manager.gd
Labels: bug

#31 Chore: Change indent style of .gd files to tab
  .editorconfig
Labels: chore

#33 Refactor: Remove 'map_index' from 'get_legal_moves'
  src/game/board/board_input_manager.gd
  src/units/unit.gd
Labels: units, refactoring

#34 Refactor: Narrow input event type more
  src/game/board/board_input_manager.gd
Labels: board, refactoring

#35 Feat: Create placement and play phase
  scenes/matches/match_1.tscn
  src/game/board/board.gd
  src/game/board/board_input_manager.gd
  src/game/match.gd
  src/game/match_phase_manager.gd
  src/game/match_phase_manager.gd.uid
  src/game/match_placement_manager.gd
  src/game/match_placement_manager.gd.uid
  src/game/match_play_manager.gd
  src/game/match_play_manager.gd.uid
  src/ui/game/board/board_ui.gd
  src/units/unit.gd
Labels: enhancement, units, board, refactoring, user interface, match

#37 Fix: Update match phase
  src/game/match.gd
Labels: bug, match

#38 Refactor: Remove unused code from 'camera.gd'
  src/ui/camera.gd
Labels: refactoring, user interface

#40 Refactor: Remove controller masks in camera movement
  src/ui/camera.gd
Labels: refactoring, user interface

#39 Feat: Add basic unit mechanics
  scenes/units/swordsman.tscn
  src/game/board/board.gd
  src/game/managers/match_placement_manager.gd
  src/game/managers/match_play_manager.gd
  src/ui/camera.gd
  src/ui/game/board/board_ui.gd
  src/units/melee_unit.gd
  src/units/melee_unit.gd.uid
  src/units/unit.gd
Labels: enhancement, units, refactoring

#41 Fix: Decrease infinity of the cell cost
  src/game/board/board.gd
  src/units/unit.gd
Labels: bug, board

#42 Refactor: Store infinity of the cell cost
  project.godot
  src/game/board/board.gd
  src/globals.gd
  src/globals.gd.uid
  src/units/unit.gd
Labels: refactoring

#44 Fix: Deplete stamina properly
  src/units/unit.gd
Labels: bug, units

#45 Feat: Restore stamina at the beginning of turn
  src/game/managers/match_play_manager.gd
Labels: enhancement, match

#49 Feat: Add team indicator on the board
  assets/sprites/terrain/tileset.png
  scenes/ui/board/highlight-tile.tscn
  scenes/ui/board/player_unit_tile.tscn
  src/game/board/board.gd
  src/ui/game/board/board_ui.gd
  src/utils/vector_utils.gd
  src/utils/vector_utils.gd.uid
Labels: enhancement, board, user interface

#50 Refactor: Add strictier typings to board dictionaries
  src/game/board/board.gd
Labels: board, refactoring

#51 Fix: Update cell cost on unit removal
  src/game/board/board.gd
Labels: bug, board

#52 Chore: Disable antialiasing of the main font
  assets/fonts/ThaleahFat.ttf.import
Labels: chore

#56 Refactor: Change directory structure of UI scenes
  scenes/ui/game/board/highlight_tile.tscn
  scenes/ui/game/board/player_unit_tile.tscn
  src/ui/game/board/board_ui.gd
Labels: refactoring, user interface
