Repository agh-cs-imbeciles/heralds-of-war, pull requests merged in 2025-06, with the labels that each got.

#60 Feat: Add ending of match
  project.godot
  scenes/matches/match_1.tscn
  scenes/ui/game/end_game_modal.tscn
  scenes/ui/menu/match_entry.tscn
  scenes/ui/menu/match_select.tscn
  scenes/ui/menu/menu.tscn
  shaders/darkened_blur.gdshader
  shaders/darkened_blur.gdshader.uid
  src/game/managers/match_play_manager.gd
  src/game/match.gd
  src/ui/game/match_ui.gd
  src/ui/game/match_ui.gd.uid
Labels: enhancement, user interface, match

#64 Feat: Change z-index of units based on board position
  src/ui/game/board/board_ui.gd
Labels: enhancement, units, board, user interface

#65 Fix: Negate 'is_cell_selected'
  src/game/managers/match_play_manager.gd
Labels: bug

#66 Feat: Add obstacle objects
  assets/resources/terrain_tileset.tres
  assets/sprites/terrain/tree_tileset.png
  assets/sprites/terrain/tree_tileset.png.import
  scenes/matches/match_1.tscn
  src/game/board/board.gd
  src/game/board/board_tile_map.gd
  src/game/board/board_tile_map.gd.uid
  src/game/managers/match_placement_manager.gd
  src/standard_tile_map.gd
  src/standard_tile_map.gd.uid
  src/ui/game/board/board_ui.gd
Labels: enhancement, board, user interface

#72 Feat: Change map of match 1
  scenes/matches/match_1.tscn
Labels: enhancement, board, match

#73 Feat: Change background colour
  project.godot
  src/ui/game/match_ui.gd
Labels: enhancement, user interface, match

#74 Refactor: Add core match scene component
  scenes/matches/core.tscn
  scenes/matches/match_1.tscn
  src/game/board/board.gd
  src/game/match.gd
  src/ui/camera.gd
  src/ui/game/board/board_ui.gd
  src/ui/game/match_ui.gd
  src/ui/scene_list/match_scene_list.gd
Labels: refactoring, match

#75 Feat: Allow for configuring background color in match instance
  scenes/matches/core.tscn
  src/game/match.gd
  src/ui/game/match_ui.gd
  src/utils/node.gd
  src/utils/node.gd.uid
Labels: enhancement, user interface, match

#76 Fix: Move bottom pixel lines of some terrain tiles to proper ones
  assets/resources/terrain_tileset.tres
  assets/sprites/terrain/tileset.aseprite
  assets/sprites/terrain/tileset.png
Labels: bug, board, assets

#77 Feat: Increase window viewport size
  project.godot
  scenes/ui/menu/match_select.tscn
  scenes/ui/menu/menu.tscn
Labels: enhancement, user interface
